.skiplink {
    position: absolute;
    top: -200px;
    left: 2px;
    transition: top 0.2s;
    width: 374px;
    height: 56px;
    background-color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.skiplink:focus {
    top: 20px;
    border: 1px solid rgb(0, 68, 204);
    box-shadow: rgb(102, 136, 221) 0px 0px 0px 3px;
}

.skiplink__text{
    color:white;
    font-size: 24px;
    line-height: 29px;
}