.main{
    margin: 54px 0;
}

.main__heading{
    max-width: 436px;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
    margin: auto;
}

.main__select-wrapper{
    max-width: 1182px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}